		<ion-header >
		  <ion-navbar #topNav color="primary" [hideBackButton]='editState!=null'>
		    <ion-title >
		      	{{location ? location.name : ''}} {{editState ? ' - ' + editState : ''  }}
		    </ion-title>
		    <ion-buttons start>
			    <button ion-button icon-only *ngIf='editState' (click)="!editState ? saveLocation(): editState=='bounds' ? saveMapBounds() : saveMapPoints()" >
			      <ion-icon name="checkmark"></ion-icon>
			    </button>
		    </ion-buttons>


		    <ion-buttons end>
			   <button ion-button icon-only   *ngIf='editState' (click)="editState=='bounds' ? exitMapBounds() : exitMapPoints()" >
			      <ion-icon name="close"></ion-icon>
			    </button>
		    </ion-buttons>


		  </ion-navbar>
		</ion-header>


		<ion-content >
		   	<form #locationsForm="ngForm" *ngIf="!editState && location && auth.user">
			  	<ion-list>
				  <ion-item >
				  	<ion-label >Name</ion-label>
				    <ion-input [disabled]="!(auth.user.is_superuser==true)" type="text" placeholder="name" [(ngModel)]="location.name" required name="location-name"></ion-input>
				  </ion-item>

				  <ion-item>
				  	<ion-label>Description</ion-label>
				    <ion-input type="text" placeholder="description" [(ngModel)]="location.description" required name="location-description">
				    </ion-input>
				  </ion-item>

				  <ion-item *ngIf="adminusers" >
				  	<ion-label>Admin User</ion-label>
				  	<ion-select [(ngModel)]="selectedUser" (ionChange)="onSelectUser()"  required   name="location-adminuser">
				    	<ion-option *ngFor="let user of adminusers" [value]="user">
				    		{{user.first_name + ' ' + user.last_name}}
				    	</ion-option>
				  	</ion-select>
				  </ion-item>

				  <ion-item>
				  	<ion-label>Price</ion-label>
				    <ion-input [disabled]="!(auth.user.is_superuser==true)" type="number" min="0" placeholder="price" [(ngModel)]="location.price" required name="location-price">
				    </ion-input>
				  </ion-item>

				 

				  <ion-item >
				  	<ion-label>Visibile</ion-label>
				    <ion-toggle [disabled]="!(auth.user.is_superuser==true)" [(checked)]="location.visibility" [(ngModel)]="location.visibility" item-right required name="location-visibility">
				    </ion-toggle>
				  </ion-item>

				  <ion-item *ngIf="auth.user.is_superuser==true">
				  	<ion-icon item-left  name="create" (click)="editMapBounds()">
				  		
				  	</ion-icon>
	      			<ion-label (click)="editMapBounds()">Edit Map Bounds</ion-label>
				  </ion-item>

				  <ion-item>
				  	<ion-icon item-left  name="create" (click)="editMapPoints()">
				  		
				  	</ion-icon>
	      			<ion-label (click)="editMapPoints()">Edit Map Points</ion-label>
				  </ion-item>

				</ion-list>
			</form>	 
			
			<map-points *ngIf="editState=='points'" [pointtypes]="pointtypes" [locationPoint]="draftlocationPoint" [location]="draftlocation" ></map-points>
			<map-bound *ngIf="editState=='bounds'" [locationPoint]="draftlocationPoint" [location]="draftlocation"></map-bound>   
		</ion-content>