

  <ion-row >
    <ion-col [style.max-width]="'60px'" center>
      	<button ion-button  color="secondary" (click)="addPoint()">
	    	<ion-icon  name="add"></ion-icon>
		</button>
    </ion-col>
    <ion-col center>
    	<ion-label>{{point ? point.name : ''}}</ion-label>
    </ion-col>

    <ion-col [style.max-width]="'60px'" [style.margin-left]="'auto'"  center>
        <button ion-button color="danger" (click)="deletePoint()">
			<ion-icon  name="trash"></ion-icon>
		</button>
    </ion-col>
  </ion-row>

<div id="maptag-points"  [(style.height)]="mapHeight"></div>


<form *ngIf="point">
	<ion-list>
	  <ion-item>
	  	<ion-label >Name</ion-label>
	    <ion-input type="text" placeholder="name" [(ngModel)]="point.name" required name="point-name"></ion-input>
	  </ion-item>

	  <ion-item  >
	  	<ion-label>Point Type</ion-label>
	  	<ion-select [(ngModel)]="selectedPointTypes" multiple="true" (ionChange)="onSelectPointType()"  required   name="point-type">
	    	<ion-option *ngFor="let type of pointtypes" [value]="type">
	    		{{type.name}}
	    	</ion-option>
	  	</ion-select>
	  </ion-item>

	  <ion-item>
	  	<ion-label >Radius (m)</ion-label>
	    <ion-input type="number" placeholder="radius in meters" [(ngModel)]="point.radius" (ngModelChange)="radiusChange()" required name="point-radius">
	    </ion-input>
	  </ion-item>

	  <ion-item>
	  	<ion-label>Visibile</ion-label>
	    <ion-toggle [(checked)]="point.visibility" [(ngModel)]="point.visibility" (click)="updateVisibility()" item-right required name="point-visibility">
	    </ion-toggle>
	  </ion-item>

	  <ion-item>
	  	<ion-label>Draggable</ion-label>
	    <ion-toggle [(checked)]="isDragg" [(ngModel)]="isDragg" (ionChange)="updateDraggable()" item-right required name="point-dragg">
	    </ion-toggle>
	  </ion-item>

	  <ion-item>
	    <ng-file [(file)]="getPoint().audioFile" (ngModelChange)="setFile(point, $event)" required name="point-audioFile">
	    </ng-file>
	  </ion-item>
	</ion-list>
</form>	 