<ion-header>

  <ion-navbar color="primary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{appName}}
    </ion-title>

    <ion-buttons end>
      <button ion-button >
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list *ngIf="auth.user && auth.user.is_superuser==true">
    <ion-list-header>
      <ion-label item-left>Admin Users</ion-label>
      <ion-icon name="add" item-right (click)="editUser(null)" ></ion-icon>
    </ion-list-header>
  </ion-list>

<form #locationsForm="ngForm" *ngIf="auth.user && auth.user.is_superuser==true">
  <ion-list >
    <ion-item *ngFor="let user of getAdminUsers" >
      <ion-icon item-left  name="create" (click)="editUser(user)"></ion-icon>
      <ion-label [style.opacity]="1">{{user.first_name + ' - ' + user.last_name}}</ion-label>
      <!--<ion-note item-right>{{location.num_points}} places</ion-note>-->
      <ion-toggle [checked]="user.is_active" [disabled]="user.is_superuser==true" name="{{'user-is_active-' + user.id}}"  [(ngModel)]="user.is_active" (ngModelChange)="updateUser(user)" item-right></ion-toggle>
    </ion-item>
  </ion-list>
</form>
</ion-content>