		<ion-header >
		  <ion-navbar color="primary" >
		    <ion-title >
		      	{{user ? (user.first_name + ' - ' + user.last_name) : ''}}
		    </ion-title>
		    <ion-buttons end>
			    <button ion-button  (click)="saveUser()" >
			      <ion-icon name="checkmark"></ion-icon>
			    </button>
		    </ion-buttons>


		  </ion-navbar>
		</ion-header>


		<ion-content >
		   	<form #userForm="ngForm" *ngIf="user">
			  	<ion-list>
				  <ion-item >
				  	<ion-label >User Name</ion-label>
				    <ion-input  type="text" placeholder="name" [(ngModel)]="user.username" required name="user-name">
				    </ion-input>
				  </ion-item>

				  <ion-item >
				  	<ion-label>Is Active</ion-label>
				    <ion-toggle [(checked)]="user.is_active" [disabled]="user.is_superuser==true" [(ngModel)]="user.is_active" item-right required name="user-is_active">
				    </ion-toggle>
				  </ion-item>

				  <ion-item >
				  	<ion-label >First Name</ion-label>
				    <ion-input  type="text" placeholder="first name" [(ngModel)]="user.first_name" required name="user-first_name">
				    </ion-input>
				  </ion-item>

				  <ion-item >
				  	<ion-label >Last Name</ion-label>
				    <ion-input  type="text" placeholder="last name" [(ngModel)]="user.last_name" required name="user-last_name">
				    </ion-input>
				  </ion-item>


				  <ion-item >
				  	<ion-label >Email</ion-label>
				    <ion-input  type="email" placeholder="email" [(ngModel)]="user.email" required name="user-email">
				    </ion-input>
				  </ion-item>


				  <ion-item >
				  	<ion-label >Password</ion-label>
				    <ion-input  type="password" placeholder="(leave blank to keep the old password)" [(ngModel)]="user.password" required name="user-password">
				    </ion-input>
				  </ion-item>

				</ion-list>
			</form>  
		</ion-content>