<ion-header>

  <ion-navbar color="primary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{appName}}
    </ion-title>

    <ion-buttons end>
      <button ion-button >
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label item-left>LOCATIONS</ion-label>
      <ion-icon name="add" item-right (click)="editLocation(null)" *ngIf="auth.user && auth.user.is_superuser==true"></ion-icon>
    </ion-list-header>
  </ion-list>

<form #locationsForm="ngForm" *ngIf="auth.user">
  <ion-list >
    <ion-item *ngFor="let location of locations" >
      <ion-label (click)="editLocation(location)" [style.opacity]="1">
        <ion-icon   name="create"></ion-icon>
        {{location.name}}
      </ion-label>
      <ion-note item-right>{{location.num_points}} places</ion-note>
      <ion-toggle [checked]="location.visibility" [disabled]="!(auth.user.is_superuser==true)"  name="{{'location-visibility-' + location.id}}"  [(ngModel)]="location.visibility" (ngModelChange)="updateLocation(location)" item-right></ion-toggle>
    </ion-item>
  </ion-list>
</form>
</ion-content>