  <ion-menu overlay [content]="mainNav">
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
    <ion-content>
      <!-- Display the side menu pages if it is production -->
      <ion-list >
        <ion-item (click)="openHome()">
          <ion-label  menuClose >
            Locations
          </ion-label>
        </ion-item>
        <ion-item menuClose (click)="openUsers()" *ngIf="auth.user && auth.user.is_superuser == true">
          <ion-label  >
            Admin Users
          </ion-label>
        </ion-item>

        <ion-item menuClose (click)="openPayments()" *ngIf="auth.user && auth.user.is_staff == true">
          <ion-label  >
            Payment Info
          </ion-label>
        </ion-item>

        <ion-item menuClose (click)="login()" *ngIf="auth.user==null">
          <ion-label  >
            Login
          </ion-label>
        </ion-item>

        <ion-item menuClose (click)="logout()" *ngIf="!(auth.user==null)">
          <ion-label  >
            Logout
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav #mainNav [root]="rootPage"></ion-nav>

 