<ion-header>

  <ion-navbar color="primary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{appName}}
    </ion-title>

    <ion-buttons end>
      <button ion-button >
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
	<form #searchForm="ngForm" (submit)="formSubmit()" (reset)="resetForm()">
		<ion-list>
			<ion-item>
			  	<ion-label>Location</ion-label>
			  	<ion-select [(ngModel)]="searchParams.locations" (ionChange)="locationChange($event)" multiple="true"  required   name="locations">
			    	<ion-option *ngFor="let loc of locations" [value]="loc.id">
			    		{{loc.name}}
			    	</ion-option>
			  	</ion-select>
			</ion-item>
			<ion-item >
			  	<ion-label>Users</ion-label>
			  	<ion-select [(ngModel)]="searchParams.users"  multiple="true"  required   name="users">
			  		<ion-option *ngFor="let user of getAdminUsers()" [value]="user.id">
			    		{{user.first_name}} {{user.last_name}}
			    	</ion-option>
			  	</ion-select>
			</ion-item>
			<ion-item>
			  <ion-label>Start Date</ion-label>
			  <ion-datetime displayFormat="MM/YYYY" required pickerFormat="MMMM YYYY" [(ngModel)]="searchParams.startdate" name="startdate"></ion-datetime>
			</ion-item>
			<ion-item>
			  <ion-label>End Date</ion-label>
			  <ion-datetime displayFormat="MM/YYYY" required pickerFormat="MMMM YYYY" [(ngModel)]="searchParams.enddate" name="enddate"></ion-datetime>
			</ion-item>
			<ion-item>
				<ion-buttons>
					<button type="submit"  ion-button>search</button>
				</ion-buttons>
				<ion-buttons item-right>
					<button type="reset"  ion-button>reset</button>
				</ion-buttons>

			</ion-item>
		</ion-list>
	</form>

	<ion-list *ngFor="let entry of entries">
		<ion-list-header>{{entry.location.name}}</ion-list-header>
		<ion-item *ngFor="let data of entry.adminusers">
			<ion-label>{{data.user.first_name}} {{data.user.last_name}}</ion-label>
      		<ion-label style="text-align:right" item-right>{{data.payment.currency||'CAD'}} {{data.payment.total}}</ion-label>
		</ion-item>
	</ion-list>

</ion-content>