
<ion-item *ngIf="_file" style="position:relative">
  <audio controls *ngIf="_file.url" [src]="_file.url" [hidden]="isMobile==true" preload="none">
    <source [src]="_file.url" [type]="_file.content_type || 'audio/mpeg'">
  </audio>
  <ion-icon style="position:absolute;font-size:200%;right:0" name="trash"  color="danger" (click)="removeFile($event)"></ion-icon>
</ion-item>


<ion-item>
  <input id="uploadAudioInput" type="file" name="{{name}}" accept="audio/*">
</ion-item>
