<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Remind Credentials
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
   <form>
	   <ion-list>
		  <ion-item>
		    <ion-input type="email" placeholder="Email"></ion-input>
		  </ion-item>

		  <div style="padding:0 1em;margin-top:2em">
			<button ion-button outline block color="secondary" (click)="remindCred()">
				Send
			</button>
		  </div>
		</ion-list>
    </form>
</ion-content>